/*--------------------------------------------*/
/* -------------768px---------- */
/*--------------------------------------------*/
@media screen and (max-width: 768px) {
  .heading-secondary {
    display: block;
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
  }
}

@media screen and (max-width: 768px) {
  .navigation {
    display: block;
  }
  .heading-secondary {
    letter-spacing: 1.3px;
  }
}

@media screen and (max-width: 768px) {
  .navigation__list {
    justify-content: center;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .navigation__link {
    font-size: 1.3rem;
  }
}

/*--------------------------------------------*/
/* -------------540px---------- */
/*--------------------------------------------*/
@media screen and (max-width: 540px) {
  .heading-secondary {
    margin-bottom: 1.3rem;
    letter-spacing: 1.5px;
  }
  .navigation__link {
    font-size: 1.1rem;
  }
}

/*--------------------------------------------*/
/* -------------430px---------- */
/*--------------------------------------------*/
@media screen and (max-width: 430px) {
  .heading-secondary {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .navigation__link {
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }
  .navigation__link:not(:last-child) {
    margin-right: 1.5rem;
  }
}

/*--------------------------------------------*/
/* -------------375px---------- */
/*--------------------------------------------*/
@media screen and (max-width: 375px) {
  .navigation {
    display: flex;
  }

  .navigation__list {
    display: none;
    position: absolute;
    left: 0;
    top: 6.65%;
    height: 100%;
    width: 100%;
    background-color: var(--color-background);
    z-index: 10000;
  }

  .navigation__list--active {
    display: block;
  }

  .navigation__item {
    height: auto;
    font-weight: bold;
    font-size: 30px;
    color: var(--color-white);
    border-bottom: 1px solid var(--color-grey-dark);
    margin-left: 3rem;
    margin-bottom: 6rem;
  }

  .navigation__item:first-child {
    margin-top: 4rem;
    margin-right: 4rem;
  }

  .navigation__link {
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1.36px;
    color: var(--color-white);
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    width: 100%;
  }
  .navigation__item:last-child {
    margin-right: 17.424px;
  }

  .navigation__icon-arrow {
    display: block;
    margin-left: auto;
  }
  .navigation__link-background {
    background: var(--color-mercury);
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-right: 10px;
    border-radius: 50%;
  }

  .heading-secondary {
    display: inline-block;
    font-size: 28px;
    letter-spacing: -1.05px;
    align-self: center;
  }

  .navigation__icon-hamburger {
    display: inline-block;
    margin-left: auto;
    align-self: center;
    cursor: pointer;
    fill: var(--color-white);
  }
}
